<%= simple_form_for(@occasion) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :recipient, collection: current_user.recipients,as: :radio_buttons %>
    <%= f.input :title, label: 'Title for occasion', placeholder: 'eg. Birthday, anniversary, St Valentines Day etc' %>
    <%= f.input :date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
