<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @occasion.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @occasion.date %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @occasion.recipient %>
</p>

<%= link_to 'Edit', edit_occasion_path(@occasion) %> |
<%= link_to 'Back', occasions_path %>
